name: Team39 Tests 

on: 
  push:
    branches:
      - master
    
jobs:
  test_dual:
    name: Test Python implementation of dual numbers 
    runs-on: ubuntu-latest
    steps:
    # Checkout the head of branch `hw4` (what you just pushed) # See: https://github.com/actions/checkout
    - uses: actions/checkout@v3
    # Setup Python environment in the container
    # See: https://github.com/actions/setup-python
    - uses: actions/setup-python@v3 
      with:
        python-version: '3.10' # let's use a recent version 
    - name: Install Python dependencies
      run: python -m pip install pytest numpy networkx
    - name: Run dual number test suite
      run: (cd tests && ./run_tests.sh pytest)
